[user]
	name = HECHT Axel
	email = axel.hct@gmail.com
	signingkey = 87C8993FAB0B46DF
[core]
	editor = nvim
	autocrlf = input
	excludesFile = ~/.gitignore
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
